/vendor/
/system/
/tests/
/user_guide/
/application/cache/
/application/config/
/application/controllers/Welcome.php
/application/controllers/index.html
/application/core/
/application/helpers/index.html
/application/hooks/index.html
/application/index.html
/application/language/index.html
/application/language/english/index.html
/application/libraries/index.html
/application/logs/
/application/models/index.html
/application/third_party/index.html
/application/views/index.html
/application/views/welcome_message.php
/application/views/errors/
/contributing.md
/license.txt
/readme.rst
